.Header {
    padding: 1rem;
}

.Header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Header nav a {
    padding: 0.7rem 1rem 0.5rem;
    margin: 1rem;
    border-bottom: 3px solid transparent;
}

.Header nav a:hover {
    text-decoration: none;
    border-bottom: 3px solid #333;
    transition: border-bottom 0.3s ease;
}

.Header nav a.active {
    outline: 1px solid #333;
}



@media (min-width: 900px) {
    .Header nav {
        flex-direction: row;
    }   
}